In [1]:
#observando o dataframe
import pandas as pd

informacoes_df = pd.read_csv('credit_features_subset.csv')
informacoes_df

,UID,ALL_AgeOfOldestAccount,ALL_AgeOfYoungestAccount,ALL_Count,ALL_CountActive,ALL_CountClosedLast12Months,ALL_CountDefaultAccounts,ALL_CountOpenedLast12Months,ALL_CountSettled,ALL_MeanAccountAge,ALL_SumCurrentOutstandingBal,ALL_SumCurrentOutstandingBalExcMtg,ALL_TimeSinceMostRecentDefault,ALL_WorstPaymentStatusActiveAccounts
0,216009,227,12,14,11,0,3,0,3,71.36,9292,9292,-1,7
1,217537,49,10,7,6,1,3,1,1,29.33,4592,4592,-1,7
2,221803,134,0,12,11,0,3,5,1,32.33,2737,2737,-1,7
3,222260,227,2,39,12,0,2,2,27,41.56,9229,9229,-1,7
4,222848,132,2,99,11,8,0,9,88,43.34,15443,15443,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8842,9679857,399,13,23,16,0,0,0,7,118.09,187302,23018,-1,0
8843,9680193,217,23,5,4,0,0,0,1,85.40,264,264,-1,0
8844,9681405,3,1,2,2,0,0,2,0,2.00,0,0,-1,0
8845,9684198,178,15,23,17,0,1,0,6,66.91,10071,10071,-1,7
8846,9684478,81,3,12,11,1,0,5,1,20.50,18862,18862,-1,0

In [2]:
#analisando colunas
#informacoes_df.info()
informacoes_df.columns

Index(['UID', 'ALL_AgeOfOldestAccount', 'ALL_AgeOfYoungestAccount',
       'ALL_Count', 'ALL_CountActive', 'ALL_CountClosedLast12Months',
       'ALL_CountDefaultAccounts', 'ALL_CountOpenedLast12Months',
       'ALL_CountSettled', 'ALL_MeanAccountAge',
       'ALL_SumCurrentOutstandingBal', 'ALL_SumCurrentOutstandingBalExcMtg',
       'ALL_TimeSinceMostRecentDefault',
       'ALL_WorstPaymentStatusActiveAccounts'],
      dtype='object')

In [3]:
informacoes_df[:6]

,UID,ALL_AgeOfOldestAccount,ALL_AgeOfYoungestAccount,ALL_Count,ALL_CountActive,ALL_CountClosedLast12Months,ALL_CountDefaultAccounts,ALL_CountOpenedLast12Months,ALL_CountSettled,ALL_MeanAccountAge,ALL_SumCurrentOutstandingBal,ALL_SumCurrentOutstandingBalExcMtg,ALL_TimeSinceMostRecentDefault,ALL_WorstPaymentStatusActiveAccounts
0,216009,227,12,14,11,0,3,0,3,71.36,9292,9292,-1,7
1,217537,49,10,7,6,1,3,1,1,29.33,4592,4592,-1,7
2,221803,134,0,12,11,0,3,5,1,32.33,2737,2737,-1,7
3,222260,227,2,39,12,0,2,2,27,41.56,9229,9229,-1,7
4,222848,132,2,99,11,8,0,9,88,43.34,15443,15443,-1,0
5,223136,16,1,14,10,4,0,11,4,7.00,1010,1010,-1,0

In [33]:
print("Duplicatas UID:", informacoes_df['UID'].duplicated().sum())
print("Nulos UID:", informacoes_df['UID'].isna().sum())

Duplicatas UID: 0
Nulos UID: 0

In [4]:
informacoes_df['ALL_CountDefaultAccounts'].min()

-1

In [5]:
informacoes_df['ALL_CountDefaultAccounts'].max()

23

In [6]:
informacoes_df['ALL_CountDefaultAccounts'].isna().sum()

0

In [7]:
informacoes_df_tratado = informacoes_df.copy()
informacoes_df_tratado['ALL_CountDefaultAccounts'] = informacoes_df_tratado['ALL_CountDefaultAccounts'].replace(-1, 0)
informacoes_df_tratado['ALL_CountDefaultAccounts'].min()
informacoes_df_tratado['ALL_CountDefaultAccounts'].value_counts()

ALL_CountDefaultAccounts
0     5727
1      882
2      543
3      383
4      312
5      216
6      198
7      138
8      102
9       96
10      78
11      60
12      29
13      23
15      19
14      15
16      10
17       6
19       3
20       3
18       2
23       1
21       1
Name: count, dtype: int64

In [8]:
informacoes_df['ALL_SumCurrentOutstandingBalExcMtg'].describe()

count      8847.000000
mean      12858.636148
std       17756.568825
min          -1.000000
25%        2438.000000
50%        8336.000000
75%       17990.500000
max      581415.000000
Name: ALL_SumCurrentOutstandingBalExcMtg, dtype: float64

In [9]:
informacoes_df['ALL_SumCurrentOutstandingBalExcMtg'].value_counts().head(10)

ALL_SumCurrentOutstandingBalExcMtg
 0       426
-1       120
 2061      4
 405       4
 34        4
 2521      4
 1081      4
 3963      4
 7293      4
 196       4
Name: count, dtype: int64

In [10]:
informacoes_df['ALL_SumCurrentOutstandingBalExcMtg'].describe()

count      8847.000000
mean      12858.636148
std       17756.568825
min          -1.000000
25%        2438.000000
50%        8336.000000
75%       17990.500000
max      581415.000000
Name: ALL_SumCurrentOutstandingBalExcMtg, dtype: float64

In [11]:
informacoes_df_tratado['ALL_SumCurrentOutstandingBalExcMtg'] = (
    informacoes_df_tratado['ALL_SumCurrentOutstandingBalExcMtg']
    .replace(-1, float('nan'))
)

In [12]:
informacoes_df_tratado['ALL_SumCurrentOutstandingBalExcMtg'].describe()

count      8727.000000
mean      13035.461671
std       17813.653242
min           0.000000
25%        2562.000000
50%        8549.000000
75%       18189.500000
max      581415.000000
Name: ALL_SumCurrentOutstandingBalExcMtg, dtype: float64

In [13]:
informacoes_df_tratado['ALL_WorstPaymentStatusActiveAccounts'].describe()

count    8847.000000
mean        2.057647
std         3.139938
min        -1.000000
25%         0.000000
50%         0.000000
75%         7.000000
max         7.000000
Name: ALL_WorstPaymentStatusActiveAccounts, dtype: float64

In [14]:
informacoes_df_tratado['ALL_WorstPaymentStatusActiveAccounts'] = (
    informacoes_df_tratado['ALL_WorstPaymentStatusActiveAccounts']
    .replace(-1, None)
)

In [15]:
informacoes_df_tratado['ALL_WorstPaymentStatusActiveAccounts'].describe()
informacoes_df_tratado['ALL_WorstPaymentStatusActiveAccounts'].value_counts(dropna=False)

ALL_WorstPaymentStatusActiveAccounts
0       5822
7       2448
1        202
None     116
2         85
6         69
3         48
4         31
5         26
Name: count, dtype: int64

In [16]:
#observando o dataframe
pedidos_df = pd.read_csv('loan_applications.csv')
pedidos_df

,UID,ApplicationDate,Amount,Term,EmploymentType,LoanPurpose,Success
0,4921736,03/07/2020,2000,60,Employed - full time,Unexpected bills,0
1,1241981,04/02/2020,3000,60,Employed - full time,Starting new bussniess,0
2,5751748,02/08/2020,20000,60,Employed - full time,Business capital,0
3,7163425,23/09/2020,20000,60,Self employed,New business venture,0
4,227377,01/01/2020,5000,36,Employed - full time,car,0
...,...,...,...,...,...,...,...
8842,8681053,17/11/2020,5000,60,Employed - full time,Wedding,0
8843,8768469,20/11/2020,8000,24,Employed - full time,Wedding,0
8844,8794971,22/11/2020,1000,36,Employed - full time,Wedding deposit,0
8845,8875138,24/11/2020,10000,60,Self employed,Wedding,0
8846,9134889,05/12/2020,20000,60,Employed - full time,wedding,0

In [17]:
#analisando colunas
#pedidos_df.info()
pedidos_df.columns

Index(['UID', 'ApplicationDate', 'Amount', 'Term', 'EmploymentType',
       'LoanPurpose', 'Success'],
      dtype='object')

In [18]:
pedidos_df[:6]

,UID,ApplicationDate,Amount,Term,EmploymentType,LoanPurpose,Success
0,4921736,03/07/2020,2000,60,Employed - full time,Unexpected bills,0
1,1241981,04/02/2020,3000,60,Employed - full time,Starting new bussniess,0
2,5751748,02/08/2020,20000,60,Employed - full time,Business capital,0
3,7163425,23/09/2020,20000,60,Self employed,New business venture,0
4,227377,01/01/2020,5000,36,Employed - full time,car,0
5,231767,01/01/2020,10200,60,Employed - full time,Car,0

In [23]:
pedidos_df_tratado= pedidos_df.copy()

In [24]:
print("Duplicatas UID:", pedidos_df_tratado['UID'].duplicated().sum())
print("Nulos UID:", pedidos_df_tratado['UID'].isna().sum())

Duplicatas UID: 0
Nulos UID: 0

In [25]:
print(pedidos_df_tratado['Amount'].describe())

count     8847.000000
mean      7560.692438
std       5309.138911
min        500.000000
25%       3000.000000
50%       6500.000000
75%      10000.000000
max      20000.000000
Name: Amount, dtype: float64

In [26]:
print(pedidos_df_tratado['Term'].describe())

count    8847.000000
mean       41.985080
std        16.139168
min        12.000000
25%        24.000000
50%        48.000000
75%        60.000000
max        60.000000
Name: Term, dtype: float64

In [27]:
print(pedidos_df_tratado['EmploymentType'].describe())

count                     8847
unique                       4
top       Employed - full time
freq                      7714
Name: EmploymentType, dtype: object

In [28]:
print(pedidos_df_tratado['EmploymentType'].unique())
print(pedidos_df_tratado['EmploymentType'].isna().sum())

['Employed - full time' 'Self employed' 'Employed - part time' 'Retired']
0

In [29]:
# padronização
pedidos_df_tratado['EmploymentType'] = pedidos_df_tratado['EmploymentType'].replace({
    'Employed - full time': 'Full-time',
    'Employed - part time': 'Part-time',
    'Self employed': 'Self-employed',
    'Retired': 'Retired' 
})

In [30]:
pedidos_df_tratado['EmploymentType'].value_counts()

EmploymentType
Full-time        7714
Part-time         570
Self-employed     418
Retired           145
Name: count, dtype: int64

In [31]:
print(pedidos_df_tratado['Success'].describe())

count    8847.000000
mean        0.104216
std         0.305558
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Success, dtype: float64

In [32]:
print(pedidos_df_tratado['Success'].value_counts(dropna=False))

Success
0    7925
1     922
Name: count, dtype: int64

In [35]:
#pegando apenas colunas tratadas do df1
df1_final = informacoes_df_tratado[[
    'UID',
    'ALL_AgeOfOldestAccount',
    'ALL_SumCurrentOutstandingBalExcMtg',
    'ALL_WorstPaymentStatusActiveAccounts'
]].copy()

In [36]:
df1_final.columns

Index(['UID', 'ALL_AgeOfOldestAccount', 'ALL_SumCurrentOutstandingBalExcMtg',
       'ALL_WorstPaymentStatusActiveAccounts'],
      dtype='object')

In [37]:
df1_final.to_csv("df1_final.csv", index=False)
pedidos_df_tratado.to_csv("df2_final.csv", index=False)