In [1]:
import pyodbc

dados_conexao = (
    "Driver={SQL Server};"
    "Server=DESKTOP-0UN1LB3\\SQLEXPRESS;"
    "Database=LoanAnalysis;"
)

conexao = pyodbc.connect(dados_conexao)
cursor = conexao.cursor()
print('Conexão bem sucedida')

Conexão bem sucedida

In [2]:
#pegando os dataframes tratados. Salvo no notebook de tratamento
import pandas as pd

df1_final = pd.read_csv("df1_final.csv")
pedidos_df_tratado = pd.read_csv("df2_final.csv")

In [3]:
#substituindo Nan por Nulo em ambos os dataframes
import numpy as np

df1_final = df1_final.replace({np.nan: None})
pedidos_df_tratado = pedidos_df_tratado.replace({np.nan: None})

In [4]:
#preparando os dataframes para inserção
values_df1 = df1_final.values.tolist()
values_df2 = pedidos_df_tratado.values.tolist()

In [6]:
#insert tabela de CustomerCredit (tab1)
query_df1 = """
INSERT INTO CustomerCredit (
    UID,
    ALL_AgeOfOldestAccount,
    ALL_SumCurrentOutstandingBalExcMtg,
    ALL_WorstPaymentStatusActiveAccounts
)
VALUES (?, ?, ?, ?)
"""

In [7]:
values_df1 = [
    tuple(row) for row in df1_final[
        [
            "UID",
            "ALL_AgeOfOldestAccount",
            "ALL_SumCurrentOutstandingBalExcMtg",
            "ALL_WorstPaymentStatusActiveAccounts",
        ]
    ].values
]

In [8]:
cursor.executemany(query_df1, values_df1)
conexao.commit()
print("DF1 inserido com sucesso!")

DF1 inserido com sucesso!

In [10]:
query_df2 = """
INSERT INTO LoanApplications (
    ApplicationID, UID, ApplicationDate, Amount, Term, EmploymentType, LoanPurpose, Success
)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)
"""

In [12]:
print(pedidos_df_tratado.columns)

Index(['UID', 'ApplicationDate', 'Amount', 'Term', 'EmploymentType',
       'LoanPurpose', 'Success'],
      dtype='object')

In [16]:
query_df2 = """
INSERT INTO LoanApplications (
    UID, ApplicationDate, Amount, Term, EmploymentType, LoanPurpose, Success
)
VALUES (?, ?, ?, ?, ?, ?, ?)
"""

In [24]:
#pedidos_df_tratado['LoanPurpose'] = pedidos_df_tratado['LoanPurpose'].str[:100]

In [25]:
values_df2 = [
    tuple(row) for row in pedidos_df_tratado[
        ["UID", "ApplicationDate", "Amount", "Term", "EmploymentType", "LoanPurpose", "Success"]
    ].values
]

In [23]:
cursor.executemany(query_df2, values_df2)
conexao.commit()
print("DF2 inserido com sucesso!")

DF2 inserido com sucesso!